html,
body {
  background-color: #fff;
  font-family: "General Sans", sans-serif !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
}
a.nav-link {
  margin: 0 0.8em;
  font-size: 14px;
}
.dropdown-item {
  font-size: 16px;
  margin: 4px auto;
}
.nav-item:hover {
  border-radius: 50rem;
  background-color: #ffffff20;
  transition: 100ms ease-in-out;
}
.bg-taxi {
  background-image: url("https://images.unsplash.com/photo-1536846511313-4b07b637bff9?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.btn-shrink {
  transition: 100ms ease-in-out;
}

.btn-shrink:active {
  transform: scale(0.99);
  transition: transform 100ms ease-in-out;
}
button,
input {
  box-shadow: none !important;
}
.arrow-hover > .fa-arrow-right {
  transition: transform 300ms ease-in-out;
}
.arrow-hover:hover > .fa-arrow-right {
  transform: translateX(20px);
  transition: transform 300ms ease-in-out;
}
li {
  list-style: none;
  font-size: 14px;
  margin: 12px 0;
}
